ul {
  margin-left: 0em;   /* default is around 2em */
  padding-left: 1.2em;
}
ul ul {
  margin-left: 0.5em; /* nested lists */
  padding-left: 0.5em;
}

a {
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline; /* optional: keep underline on hover */
}